<ol class="post-list">
    {{!-- We could pass in #each posts only and it would be able to look at each object in the posts array however, defining it like a forEach is more readable!--}}
    {{#each posts as |post|}}
    <li>
        <article class="post">
            <div class="title">
                <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
                <span>({{post.post_url}})</span>
            </div>
            <div class="meta">
                {{post.vote_count}} point(s) by {{post.user.username}} on
                {{post.created_at}}
                |
                <a href="/post/{{id}}">{{post.comments.length}} comment(s)</a>
            </div>
        </article>
    </li>
    {{/each}}
</ol>